body {
    background: #c9c9ce;
}

.btn{
    border: 2px solid red;
}

.carousel_info{
    background: black;
    opacity: 0.7;
}

.card-body{
    background: grey;
    text-align: center;
}

.carousel-item img{
    border-radius: 20px;
}