{% extends 'home/home.html' %}

{% block inner_content %}
<form method="post" class="form-contact">
{{ form.hidden_tag() }}

{% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
    <p> {{ field.label() }}
        {{ field() }}
{% endfor %}

<p> {{ form.remember.label }} {{ form.remember() }} </p>

<p> {{ form.submit() }} </p>
</form>
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
    <a href="{{ url_for('auth.register')}}"> Not a member? Register</a>
{% endblock inner_content %}