{% extends "bootstrap/base.html" %}

{% block title %}Delivery food{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock styles %}

{% block navbar %}
<nav class="navbar-light d-flex align-items-center" style="background: #7b59ce; height: 60px;">
  <div class="container-fluid">
      <div class="row d-flex align-items-center">
          <div class="col-3 d-flex justify-content-center text-center fw-bold">
              <a class="navbar-brand" href="{{url_for('home.index')}}" style="color: white;">DELIVERY FOOD</a>
          </div>
          <div class="col-2">
              <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
              </form>
          </div>
          <div class="col-2">
              <a class="navbar-text fw-bold font-monospace text-white" href="tel:+7888111-22-33">8 (888) 111-22-33</a>
          </div>
          <div class="col-2 d-flex align-items-center ">
              <h6 class="navbar-text text-white font-weight-bold">Contact us</h6>
          </div>
          <div class="col-3 d-flex align-items-center">
              {% if current_user.is_authenticated %}
                  {{ current_user }}
                  <a class="navbar-text text-white font-weight-bold" href="{{ url_for('auth.logout')}}">
                    <img src="{{url_for('static', filename='images/icons/login.jpeg')}}" alt="..." style="width: 20px; height: 20px">
                    Выйти
                  </a>
                  <a class="navbar-text text-white font-weight-bold d-flex align-items-center" href="{{ url_for('cartProducts.cart')}}" style="margin-left: 25px">
                    <img src="{{url_for('static', filename='images/icons/cart.jpeg')}}" alt="..." style="width: 40px; height: 40px">
                    <div style="display: inline-block; color: white">{{ price }} &#8381; <br> {{ count }} шт.</div>
                  </a>
              {%  else %}
                  <a class="navbar-text text-white font-weight-bold" href="{{ url_for('auth.login')}}">
                    <img src="{{url_for('static', filename='images/icons/login.jpeg')}}" alt="..." style="width: 20px; height: 20px">
                    Войти
                  </a>
                  <a class="navbar-text text-white font-weight-bold d-flex align-items-center" href="{{ url_for('auth.login')}}" style="margin-left: 25px">
                    <img src="{{url_for('static', filename='images/icons/cart.jpeg')}}" alt="..." style="width: 40px; height: 40px">
                    <div style="display: inline-block; color: white">{{ price }} &#8381; <br> {{ count }} шт.</div>
                  </a>
              {% endif %}
          </div>
      </div>
  </div>
</nav>
{% endblock %}

{% block body %}
{{super()}}
<section id="body">
    <div class="container" style="margin-top: 20px">
    <div class="row">
      <div class="col-3">
        {% for i in range(0, categories|length, 3) %}
          <div class="row" style="margin-top: 25px;">
              {% for cat in categories[i:i+3] %}
              <a href="{{ url_for('products.category', product_category=cat.slug)}}">
                <p style="margin-bottom: 5px;"> {{ cat.category }}</p>
              </a>
              {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="col-9">
          {% block inner_content %}
          <section id="carousel">
              <div class="row justify-content-center">
                  <div class="col">
                        <div class="bd-example">
                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="3000">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="{{url_for('static', filename='images/home_carousel/first.jpeg')}}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                  <div class="carousel_info">
                                    <h5>Вкуснейшие нежнейшие тефтельки</h5>
                                    <p>Пюрешка, тефтельки, соус и горошек</p>
                                    <button type="button" class="btn btn-primary">Заказать</button>
                                  </div>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="{{url_for('static', filename='images/home_carousel/second.jpeg')}}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                  <div class="carousel_info">
                                    <h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                    <button type="button" class="btn btn-primary">login</button>
                                  </div>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src=".{{url_for('static', filename='images/home_carousel/third.jpeg')}}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                  <div class="carousel_info">
                                    <h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                    <button type="button" class="btn btn-primary">login</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
          </section>
          <section id="product_category">
              <div class="row">
                {% for cat in categories %}
                  <div class="col-3" style="margin-top: 10px">
                    <a href="{{ url_for('products.category', product_category=cat.slug)}}">
                      <div class="card bg-dark text-white">
                        <img src="{{url_for('static', filename='images/product_category/' + cat.photo_url)}}" class="card-img" alt="...">
                        <div class="card-img-overlay" style="position: absolute;">
                        <h5 class="card-title" style="color:black; position:absolute;bottom:0;right:0;">{{ cat.category }}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                {% endfor %}
              </div>
          </section>
          <section id="about_kitchen">
              <div class="row justify-content-center">
                  <div class="col">
                        <div class="bd-example">
                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="3000">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="{{url_for('static', filename='images/home_carousel/about_kitchen.jpeg')}}" class="d-block w-100" alt="..." style="max-height: 350px; border-radius: 20px">
                                <div class="carousel-caption d-none d-md-block">
                                  <div class="carousel_info">
                                    <h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                    <button type="button" class="btn btn-primary">login</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
          </section>
          <section id="collapse">
              <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Collapsible Group Item #1
                        </button>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Collapsible Group Item #2
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Collapsible Group Item #3
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
          </section>
          {% endblock inner_content %}
          <section id="footer-nav">
              <div class="container">
              <footer class="row row-cols-5 py-5 my-5 border-top">
                <div class="col">
                  <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                  </a>
                  <p class="text-muted">© 2021</p>
                </div>

                <div class="col">

                </div>

                <div class="col">
                  <h5>Section</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  </ul>
                </div>

                <div class="col">
                  <h5>Section</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  </ul>
                </div>

                <div class="col">
                  <h5>Section</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  </ul>
                </div>
              </footer>
            </div>
          </section>
      </div>

    </div>

    <div class="row">
          <div class="col">
              <div class="container">
                  <footer class="py-3 my-4">
                    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                    </ul>
                    <p class="text-center text-muted">© 2021 Company, Inc</p>
                  </footer>
                </div>
          </div>
      </div>
  </div>
</section>

{% endblock body %}